@font-face {
  font-family: "NeutroMYOB-Reg";
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.eot");
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.woff2")
      format("woff2"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.woff")
      format("woff"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular-WebOnly.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeutroMYOB-Med";
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.eot");
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.woff2")
      format("woff2"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.woff")
      format("woff"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium-WebOnly.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: NeutroMYOB-Reg;
}

body {
  background-color: #f9f9f9;
}

.links {
  cursor: pointer;
}

.myob-coloured-text {
  color: #8241aa;
}

a:link {
  color: #8241aa;
  text-decoration: underline;
}

a:hover,
a:active,
a:visited {
  color: #8241aa;
}

.btn-purple,
.btn-purple:focus {
  background-color: #8241aa !important;
  border-color: #a476c1 !important;
  box-shadow: none !important;
}

.btn-purple:hover,
.btn-purple:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #8241aa !important;
}

.btn-light,
.btn-light:focus {
  vertical-align: middle;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.btn-light:hover,
.btn-light:active {
  background-color: #d3d3d3 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px transparent !important;
}

.form-purple:focus {
  border-color: #8241aa;
  box-shadow: none;
}

.buttonBlock {
  overflow: hidden;
}

.buttonLeft {
  float: left;
  margin-left: 30%;
}

.buttonRight {
  float: right;
  margin-right: 30%;
}

.navbar {
  background-color: white !important;
  height: 80px;
  border-bottom: 2px solid #eeeeee;
  padding-top: 10px;
  padding-left: 8%;
  padding-right: 8%;
}

.navbar-brand {
  margin-right: 5%;
}

.navbar-collapse {
  background-color: white !important;
  z-index: 999;
  border-radius: 0.2em;
}

.nav-link,
.nav-link:visited {
  font-size: 14.5px;
  font-family: NeutroMYOB-Reg;
  padding-top: 8px !important;
  padding-right: 22px !important;
  padding-bottom: 8px !important;
  padding-left: 22px !important;
  color: black !important;
  text-decoration: none !important;
}

.activeLink span {
  padding-bottom: 4px;
  border-bottom: 2px solid #8241aa;
}

.nav-link:hover {
  color: #8241aa !important;
}

.nav-link:active {
  color: black !important;
}

#dropdownMenuLink {
  padding: 0 !important;
}

.profilePic {
  border-radius: inherit;
  object-fit: cover;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
    0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  z-index: 998;
  margin: 10px;
}

#profileName {
  font-size: 14.5px;
  font-family: NeutroMYOB-Reg;
  padding-top: 8px;
  padding-bottom: 8px;
  color: black;
}

#profileName:hover {
  color: #8241aa;
}

.profileDropdownItem {
  font-size: 0.9em;
  color: black !important;
  text-decoration: none !important;
}

.profileDropdownItem:active {
  background: #8241aa;
  color: white !important;
}

#nominationPage,
#nominationPage div {
  text-align: center;
}

#nominationPage .stepper {
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
}

#nominationJustification {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.justificationInfo label {
  font-family: NeutroMYOB-Med;
}

.justificationInfo span:first-child {
  font-family: NeutroMYOB-Med;
  font-weight: 700;
}

.justificationInfo:nth-child(2) {
  margin-bottom: 1em;
}

.App {
  text-align: center;
  font-weight: 400;
}

.App-logo {
  /*  animation: App-logo-spin infinite 20s linear;*/
  padding: 1em;
  padding-top: 4em;
  height: 190px;
}

.App-header {
  /*background-color: #222;*/
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  color: black;
  padding: 1em;
  text-align: center;
}

.App-user-status {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 2.5em;
  width: 80%;
  max-width: 500px;
  border: 1px solid transparent;
  border-color: #515e6d;
  border-radius: 0.25em;
  border-width: 0.125em;
}

.category-button {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.625em;
  border: 1px solid transparent;
  border-radius: 0.25em;
  border-color: rgba(46, 62, 79, 0.6);
  border-width: 0.125em;
  background-color: white;
  color: #8241aa;
  font-size: 100%;
  font-weight: 400;
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loginPage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  display: inline-block;
  text-align: center;
  width: 60%;
  height: 50%;
}

#loginLogo {
  width: 36%;
  margin: 20px;
}

#loginBg {
  background-color: #f5f5f5;
  height: 100vh;
  overflow: hidden;
}

#login-border-top {
  /* background: -moz-linear-gradient(-45deg, #8241aa 35%, #a476c1 100%);
  background: -webkit-linear-gradient(-45deg, #8241aa 35%, #a476c1 100%);
  background: linear-gradient(135deg, #8241aa 35%, #a476c1 100%); */
  background-color: #8241aa;
  height: 3px;
  width: 100%;
}

#loginBgPic {
  height: 100%;
  float: right;
}

#loginDesc {
  font-family: NeutroMYOB-Med;
  font-size: 1.05em;
}

#loginButton {
  padding-left: 2em;
  padding-right: 2em;
}

#loginWrapper {
  width: 100%;
  background-color: #ffffff;
}

.feelix-card {
  padding: 1.6rem;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(46, 62, 79, 0.1);
  border-radius: 0.4rem;
}

#nominateDiv {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.overflowHid {
  overflow: hidden;
}

#nominationComplete {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 1px 8px 0 rgba(46, 62, 79, 0.1);
  border-radius: 0.4rem;
  width: 400px;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  overflow: hidden;
}

#nominationComplete h3 {
  font-size: 1.5rem;
}

.complete-card-top {
  font-family: "PT Sans" !important;
  background-color: #8241aa;
  color: white;
  padding: 1.2em;
}

.complete-card-bottom {
  font-family: "PT Sans" !important;
  padding: 1em;
  padding-bottom: 2.6em;
}

.complete-card-bottom button {
  margin: 1.2em;
  margin-bottom: 1.4em;
}

.complete-card-bottom > button:nth-last-child(2) {
  margin-left: 1.5em;
  margin-right: 0.9em;
}

.complete-card-bottom > button:last-child {
  margin-left: 0.9em;
  margin-right: 1.5em;
}

#nominationComplete > h2 {
  padding: 0.6em;
}

#nominationComplete > h2 > i {
  font-size: 2.6em;
}

#nominationCompleteLogo {
  padding: 0.5em;
  width: 6.5em;
}

#nominationComplete p {
  font-family: "PT Sans" !important;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
}

#nominationComplete p span {
  font-weight: bold;
}

#spinner {
  background-color: #f9f9f9;
  text-align: center;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 100px;
  margin: auto;
}

.octicon {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.radioPad {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
@media (min-width: 440px) {
  .radioPad {
    width: 50%;
  }
}
@media (min-width: 560px) {
  .radioPad {
    width: 33.333333333333336%;
  }
}

.radioPad__wrapper {
  display: flex;
  cursor: pointer;
  background: #a476c1;
  border-color: #a476c1 !important;
  border-radius: 0.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "NeutroMYOB-Med";
  margin: 0.3rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
}
.radioPad__wrapper:active,
.radioPad__wrapper--selected {
  background: #8241aa !important;
}
.radioPad__wrapper:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px #8241aa !important;
}
.radioPad__radio {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
}

.award-modal {
  background-color: #eeeeee;
  overflow-y: auto;

  width: 100%;
  height: 100%;
  padding-right: 1.1em;
  box-sizing: content-box;
}

.award-modal-dialog {
  margin-top: 2em;
  margin-bottom: 2em;

  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.award-modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
}

#award-modal-back-container {
  position: fixed;
  top: 2em;
  left: 2em;
}

.back-octicon {
  margin-right: 0.5em;
}

.bold-this {
  font-weight: bold;
}

.div-centre {
  display: flex;
  align-items: center;
}

.div-spin-centre {
  margin: auto;
  text-align: center;
  margin: 10em;
}

.div-space-between {
  justify-content: space-between;
}

.comment-box {
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 8px 10px;
  max-width: 88%;
}

.comment-box-add {
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 8px 10px;
  width: 100%;
}

.commenter {
  font-weight: bold;
  color: #8241aa;
  margin-right: 0.2em;
}

.btn-top-round {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 1em;
  display: inline-flex;
  align-items: center;
  padding: 0.6em;
}

.nomination-info-container {
  width: 100%;
  padding-top: 10px;
}

.nomination-info {
  width: 60%;
  margin-top: 0%;
  padding-top: 0px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: inline-block;
  vertical-align: top;
}

.nominee-image {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
  padding-right: 5px;
}

.wrap-text {
  word-wrap: break-word;
}

.inline-components {
  display: inline-block;
}

.nominator-info {
  padding-top: 15px;
}

.upvote-button {
  vertical-align: bottom;
}

.modal-element-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-element-left-padding {
  padding-left: 10px;
}

.octism {
  padding-top: 6px;
  font-size: 2.2em;
}

.octiocti {
  color: #8241aa;
}

.octigrey {
  color: #606770;
}

#categorySelect {
  padding-bottom: 16px;
}

.cardMainContent {
  padding-top: 8px;
  max-height: 10.5em;
  overflow: hidden;
  position: relative;
  display: block;
  line-height: 1.5em;
}

.cardMainContent::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
  content: "\200C";
  display: block;
  position: absolute;
  right: 0;
  top: 9em;
  width: 30%;
  text-align: center;
}

#homeLabel {
  position: absolute;
  width: 65%;
  margin-top: 10%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 1em;
}

#homeLabelText {
  font-size: 5em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

#adminDiv {
  margin-left: 15%;
  width: 70%;
  margin-right: 15%;
  margin-top: 1.2em;
  margin-bottom: 1em;
  font-family: "PT Sans", sans-serif;
}

#adminDiv h4 {
  padding-left: 0.4em;
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 24px;
}

#adminDiv #adminTitle {
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1.3px #d1d5da solid;
}

.adminOptions {
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(46, 62, 79, 0.1);
  border-radius: 0.2rem;
  border: 1.6px solid #d1d5da;
}

.adminOptionsDanger {
  border: 1.6px solid #d73a49;
}

.adminOption {
  overflow: hidden;
  padding: 1.6rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

.adminOptionTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.adminOptionDesc {
  font-size: 0.95em;
  color: #586069;
}

.adminOptionDisabled .adminOptionTitle {
  color: #929497;
}

.adminOptionDisabled .adminOptionDesc {
  color: #b5b9be;
}

.adminOptionDisabled .adminButton {
  color: #929497;
  border-color: #929497;
}

.adminButton {
  margin-top: 0.2em;
}

.adminHr {
  margin: 0;
  border: none;
  height: 1.5px;
  color: #d1d5da;
  background-color: #d1d5da;
}

#awardsContainer {
  width: 1496px;
}

.react-confirm-alert-body {
  font-family: "PT Sans";
  font-size: 14px;
}

.react-confirm-alert-body h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 16px;
}

/* .react-confirm-alert-button-group > button:first-child {
  background: #8241aa !important;
} */

#filterBar {
  margin-top: 0.4em;
  overflow: visible;
}

.formControl {
  min-width: 120px !important;
  font-family: "PT Sans" !important;
  margin-right: 0.4em !important;
}

.grow {
  flex-grow: 1;
}

.searchBar {
  position: relative;
  margin-left: 0;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 0.25em;
  color: #586069;
  box-shadow: 0 1px 2px 0 rgba(46, 62, 79, 0.1);
}

.searchIcon {
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #586069;
  margin-left: 1em;
  margin-top: -3px;
}

@media (min-width: 1496px) {
  #nominateDiv,
  #adminDiv {
    width: 1000px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .radioPad__wrapper {
    height: 4rem;
  }
}

@media (max-width: 1496px) {
  #awardsContainer {
    width: 1114px;
  }
}

@media (max-width: 1114px) {
  #awardsContainer {
    width: 732px;
  }
}

@media (max-width: 732px) {
  #nominateDiv,
  #adminDiv {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #awardsContainer {
    width: 350px;
  }
}

#noNominations {
  font-size: 3vw;
  text-align: center;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  color: #929497;
}
