@font-face {
  font-family: "NeutroMYOB-Reg";
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.eot");
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.woff2")
      format("woff2"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular.woff")
      format("woff"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Regular-WebOnly.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeutroMYOB-Med";
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.eot");
  src: url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.woff2")
      format("woff2"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium.woff")
      format("woff"),
    url("https://d2d7guzy1ki9ro.cloudfront.net/fonts/neutro/NeutroMYOB-Medium-WebOnly.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: NeutroMYOB-Reg;
}

body {
  background-color: #f9f9f9;
}

.myob-coloured-text {
  color: #8241aa;
}

a:link {
  color: #8241aa;
  text-decoration: underline;
}

a:hover {
  color: #8241aa;
}

a:visited {
  color: #a476c1;
}

a:active {
  color: #8241aa;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #8241aa !important;
  border-color: #a476c1 !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #a476c1;
  box-shadow: none;
}

.buttonBlock {
  overflow: hidden;
}

.buttonLeft {
  float: left;
  margin-left: 30%;
}

.buttonRight {
  float: right;
  margin-right: 30%;
}

.navbar {
  background-color: white !important;
  height: 80px;
  border-bottom: 2px solid #eeeeee;
  padding-top: 10px;
  padding-left: 8%;
  padding-right: 8%;
}

.navbar-brand {
  margin-right: 5%;
}

.nav-link,
.nav-link:visited {
  font-size: 14.5px;
  font-family: NeutroMYOB-Reg;
  padding-top: 8px !important;
  padding-right: 22px !important;
  padding-bottom: 8px !important;
  padding-left: 22px !important;
  color: black !important;
  text-decoration: none !important;
}

.nav-link .activeSpan {
  padding-bottom: 4px;
  border-bottom: 2px solid #8241aa;
}

.nav-link:hover {
  color: #8241aa !important;
}

.nav-link:active {
  color: black !important;
}

.inset {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
    0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  object-fit: cover;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

#nominationPage,
#nominationPage div {
  text-align: center;
}

#nominationPage .stepper {
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
}

#nominationJustification {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.justificationInfo label {
  font-family: NeutroMYOB-Med;
}

.justificationInfo span:first-child {
  font-family: NeutroMYOB-Med;
  font-weight: 700;
}

.justificationInfo:nth-child(2) {
  margin-bottom: 1em;
}

#nominationComplete {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#nominationCompleteImage {
  width: 25%;
}

#nominationComplete div {
  margin: 0.5em;
}

#nominationComplete div:first-of-type {
  font-size: 1.3em;
  font-family: NeutroMYOB-Med;
}

#nominationComplete div:nth-of-type(2) span {
  font-family: NeutroMYOB-Med;
}

.App {
  text-align: center;
  font-weight: 400;
}

.App-logo {
  /*  animation: App-logo-spin infinite 20s linear;*/
  padding: 1em;
  padding-top: 4em;
  height: 190px;
}

.App-header {
  /*background-color: #222;*/
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  color: black;
  padding: 1em;
  text-align: center;
}

.App-user-status {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 2.5em;
  width: 80%;
  max-width: 500px;
  border: 1px solid transparent;
  border-color: #515e6d;
  border-radius: 0.25em;
  border-width: 0.125em;
}

.App-intro {
  font-size: large;
  padding-bottom: 1em;
}

.continue-button {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.625em;
  border: 1px solid transparent;
  border-radius: 0.25em;
  border-color: rgba(46, 62, 79, 0.6);
  border-width: 0.125em;
  background-color: white;
  color: #8241aa;
  font-size: 100%;
  font-weight: 400;
}

.continue-button:hover {
  border-color: #515e6d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
