* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  height: 100vh;
  width: 100vw;
  background: url("https://wallpaper.wiki/wp-content/uploads/2017/05/Anime-Background-1.jpg")
    fixed no-repeat;
  background-size: cover;
  background-position: center;
}
#container {
  /* width: 350px; */
  height: 210px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  /* top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -200px; */
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  width: 22.4em;
  padding: 2.2em;
  padding-top: 1.6em;
  border-radius: 8px;
}
#container:before {
  width: 400px;
  height: 260px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
}
form img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
form {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
input {
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
input[type="submit"] {
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #df2359;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}
input[type="submit"]:hover {
  background: #c0392b;
}
span a {
  color: rgba(255, 255, 255, 0.8);
}
