* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  height: 100vh;
  width: 100vw;
  background: url("./images/background.jpg") fixed no-repeat;
  background-size: cover;
  background-position: 50% 25%;
}
#container {
  /* width: 350px; */
  height: 210px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  /* top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -200px; */
  margin: auto;
  margin-top: 10%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  width: 22.4em;
  padding: 2.2em;
  padding-top: 1.6em;
  border-radius: 8px;
}
#container:before {
  width: 400px;
  height: 260px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
}

.loginContainer {
  margin: auto;
  /* margin-top: 10%; */
  text-align: center;
  /* width: 22.4em;
  padding: 2.2em;
  padding-top: 1.6em; */
  z-index: 999;
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

#loginLogo {
  width: 85%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#loginBg {
  /* background-color: #fff; */
  height: 100vh;
  overflow: hidden;
}

#login-border-top {
  /* background: -moz-linear-gradient(-45deg, #8241aa 35%, #a476c1 100%);
  background: -webkit-linear-gradient(-45deg, #8241aa 35%, #a476c1 100%);
  background: linear-gradient(135deg, #8241aa 35%, #a476c1 100%); */
  background-color: #8241aa;
  height: 3px;
  width: 100%;
}

#loginBgPic {
  position: absolute;
  z-index: 2;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

#loginDesc {
  font-family: NeutroMYOB-Med;
  font-size: 1em;
}

#loginButton {
  padding-left: 1.8em;
  padding-right: 1.8em;
}
