* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  height: 100vh;
  background: url("https://images6.alphacoders.com/933/thumb-1920-933949.jpg")
    fixed no-repeat;
  background-size: cover;
}
#container {
  width: 350px;
  height: 210px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -175px;
  border-radius: 8px;
}
#container:before {
  width: 400px;
  height: 260px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
}
form img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
form {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
input {
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
input[type="submit"] {
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #df2359;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}
input[type="submit"]:hover {
  background: #c0392b;
}
span a {
  color: rgba(255, 255, 255, 0.8);
}
