.award-modal {
  background-color: #eeeeee;
  overflow-y: auto;
  overflow-x: auto;

  width: 100%;
  height: 100%;
  padding-right: 1.1em;
  box-sizing: content-box;
}

.award-modal-dialog {
  margin-top: 2em;
  margin-bottom: 2em;

  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.award-modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
}

#award-modal-back-container {
  position: fixed;
  top: 2em;
  left: 2em;
}

.back-octicon {
  margin-right: 0.5em;
}
